{
    "rules": {
        "comma-dangle":["error", "always-multiline"],
        "quotes": ["error", "single"],
        "no-alert": "error"
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended"
    ],
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "babel-eslint"
    },
    "env": {
        "node": true,
        "commonjs": true,
        "browser": true,
        "es6": true
    }
}