@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import "~nprogress/nprogress.css";
@import "./slider.scss";
@mixin h {
  overflow: hidden!important;
  display: -webkit-box!important;
  -webkit-box-orient: vertical!important;
}
// 限制文本行数
.h-1x {
  -webkit-line-clamp: 1;
  @include h;
}
.h-2x {
  -webkit-line-clamp: 2;
  @include h;
}
.h-3x {
  -webkit-line-clamp: 3;
  @include h;
}
.h-4x {
  -webkit-line-clamp: 4;
  @include h;
}
.v-app-underline {
  border-width: 0 0 thin;
  border-style: solid;
  border-bottom-color: rgba(0,0,0,.12)!important;
}
html, body, div, span, header, footer, section, article, a, img {
  font-family: 'Nunito', 'product sans', sans-serif !important;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-left: 1px solid rgba(128, 128, 128, 0.18);
  background: var(--v-bar-bg-base);
  height: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--v-primary-lighten1);
}

