@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import "~nprogress/nprogress.css";
@import "./slider.scss";
@mixin h {
  overflow: hidden!important;
  display: -webkit-box!important;
  -webkit-box-orient: vertical!important;
}
// 限制文本行数
.h-1x {
  -webkit-line-clamp: 1;
  @include h;
}
.h-2x {
  -webkit-line-clamp: 2;
  @include h;
}
.h-3x {
  -webkit-line-clamp: 3;
  @include h;
}
.h-4x {
  -webkit-line-clamp: 4;
  @include h;
}
.v-app-underline {
  border-width: 0 0 thin;
  border-style: solid;
  border-bottom-color: rgba(0,0,0,.12)!important;
}
html, body, div, span, header, footer, section, article, a, img {
  font-family: 'Nunito', 'product sans', sans-serif !important;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-left: 1px solid rgba(128, 128, 128, 0.18);
  height: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--v-primary-lighten1);
}

// xs
@media (max-width: 599px) {
  html {
    --ytmusic-content-width: 1264px;
    //--ytmusic-divider-height: 56px;
    //--ytmusic-player-bar-height: 72px;
    //--ytmusic-header-padding: 32px 0 16px 0;
    //--ytmusic-search-width: 860px;
    //--ytmusic-migration-width: 704px;
  }
}

// sm
@media (min-width: 600px) and (max-width: 959px){
  html {
    --ytmusic-content-width: 1264px;
    //--ytmusic-divider-height: 56px;
    //--ytmusic-player-bar-height: 72px;
    //--ytmusic-header-padding: 32px 0 16px 0;
    //--ytmusic-search-width: 860px;
    //--ytmusic-migration-width: 704px;
  }
}

// md
@media (min-width: 960px) and (max-width: 1263px) {
  html {
    --ytmusic-content-width: calc(1264px - 64px);
    //--ytmusic-divider-height: 56px;
    //--ytmusic-player-bar-height: 72px;
    //--ytmusic-header-padding: 32px 0 16px 0;
    //--ytmusic-search-width: 860px;
    //--ytmusic-migration-width: 704px;
  }
}

// lg
@media (min-width: 1264px) and (max-width: 1903px){
  html {
    --ytmusic-content-width: calc(1185px - 64px);
    //--ytmusic-divider-height: 56px;
    //--ytmusic-player-bar-height: 72px;
    //--ytmusic-header-padding: 32px 0 16px 0;
    //--ytmusic-search-width: 860px;
    //--ytmusic-migration-width: 704px;
  }
  .yt-carousel {
    --ytmusic-carousel-item-margin-right: 24px;
    --ytmusic-carousel-item-base-width: calc( ( var(--ytmusic-content-width) - 4 * var(--ytmusic-carousel-item-margin-right) ) / 5 );
  }
}
// xl
@media (min-width: 1904px) {
  html {
    --ytmusic-content-width: 1478px;
    //--ytmusic-divider-height: 64px;
    //--ytmusic-player-bar-height: 72px;
    //--ytmusic-header-padding: 32px 0 24px 0;
    //--ytmusic-search-width: 860px;
    //--ytmusic-migration-width: 704px;
  }
}
